<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>

form.shadow.p-5 {
  border: 1px solid darkgray;
    width: 42%;
    margin: auto 0;
    text-align: center;
    box-shadow: 2px 6px 10px 6px;
    border-radius: 5px;
}
.col-sm {
    margin-top: 95px;
}

.col-sm {
    margin-left: 40%;
    /* align-items: center; */
}
button.btn.btn-primary {
    /* margin-bottom: 20px; */
    margin: 20px 0px;
    padding: 10px;
    width: 90px;
}
label {
    font-size: 18px;
}
input {
    padding: 5px;
    width: 76%;
}
</style>

</head>
<body>
    

<div class="container my-3">
 <div class="row">
  
   <div class="col-sm ">
    <form action="" method="post" enctype="multipart/form-data" novalidate class="shadow p-5">
     {% csrf_token %}
    {% for fm in form %}
    <div class="form-group mb-3">
       <h5>{{fm.label_tag}}</h5>{{fm}} <small class="text-danger">{{fm.errors}}   </small>
      </div>
    {% endfor %}
     <button type="submit" class="btn btn-primary">Submit</button>

     {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
   </form>
  </div>
  </div>
  
  
 </div>

</div>
</body>
</html>



